@model Tuple<Dtos.ContactCreateDto, List<Dtos.GroupContactDto>>
@{
    var contact = Model.Item1;
    var groupContacts = Model.Item2;
}
@{
    ViewBag.Title = "edit";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="temp-alert alert alert-danger">@TempData["ErrorMessage"]</div>

}
@section linkCss{
    <link href="~/Areas/User/Content/css/edit.css" rel="stylesheet" type="text/css" />
}
<div class="d-flex justify-content-between align-items-center">
    <h2>Edit</h2>
    <a class="me-5" href="~/user/contact/index">Back</a>
</div>
<div class="edit-data">
    <form id="form-edit" action="~/user/contact/edit" method="post" class="needs-validation" novalidate>
        <input data-val="true" data-val-required="The ContactID field is required." id="Item1_ContactID" name="ContactID" type="hidden" value="@contact.ContactID">
        
        <div class=" mb-3">
            <label for="fullname">Họ và tên</label>
            <input type="text" class="form-control" id="fullname" value="@(string.IsNullOrEmpty(contact.FullName) ? "" : contact.FullName)" placeholder="Vui lòng nhập họ và tên" name="FullName">
        </div>
        <div class=" mb-3">
            <label for="phonenumber">Số điện thoại</label>
            <input type="text" class="form-control" id="phonenumber" value="@(string.IsNullOrEmpty(contact.PhoneNumber)?"":contact.PhoneNumber)" placeholder="Vui lòng nhập số điện thoại" name="PhoneNumber">

        </div>

        <div class="mb-3">
            <label class="visible-error">Quan hệ</label>
            @if (groupContacts != null)
            {
                <div class="show-default">
                    <div class="d-flex flex-wrap">
                        @for (int i = 0; i < groupContacts.Count() && i < 35; i++)
                        {


                            <div class="form-check mx-4">
                               
                                    <input class="form-check-input check-input" type="checkbox" value="@groupContacts[i].GroupName" name="GroupNames" id="@groupContacts[i].GroupName" @(contact.GroupNames.Any(item => item == groupContacts[i].GroupName) ? "checked" : "")>
                                <label class="form-check-label" for="@groupContacts[i].GroupName">
                                    @groupContacts[i].GroupName
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-check checkbox-diffirent mx-4">
                    <input class="form-check-input" type="checkbox" value="Khác" id="diffirent-checkbox">
                    <label class="form-check-label" for="diffirent-checkbox">
                        Khác
                    </label>
                </div>
                <div class="hide-default">
                    @if (groupContacts.Count() > 34)
                    {
                        <div class="d-flex flex-wrap">
                            @for (int j = 35; j < groupContacts.Count(); j++)
                            {
                                <div class="form-check mx-4">
                                    <input class="form-check-input check-input" type="checkbox" value="@groupContacts[j].GroupName" name="GroupNames" id="@groupContacts[j].GroupName" @(contact.GroupNames.Any(item => item == groupContacts[j].GroupName) ? "checked" : "")>
                                    <label class="form-check-label check-input" for="@groupContacts[j].GroupName">
                                        @groupContacts[j].GroupName
                                    </label>
                                </div>
                            }
                        </div>
                    }
                    <div class="mb-3">
                        <label for="difirent-relationship">Tạo quan hệ mới</label>
                        <input type="text" class="form-control" id="difirent-relationship" placeholder="Nhập các quan hệ, cách nhau bằng dấu phẩy" name="newGroupName">
                    </div>
                </div>
            }
        </div>
        <div class=" mb-3">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" id="address" value="@(string.IsNullOrEmpty(contact.Address)?"":contact.Address)" placeholder="Vui lòng nhập địa chỉ" name="Address">
        </div>
        <div class=" mb-3">
            <label for="email">Email</label>
            <input type="text" class="form-control" value="@(string.IsNullOrEmpty(contact.Email)?"":contact.Email)" id="email" name="Email" placeholder="Vui lòng nhập Email">
        </div>


        <div class="text-center">
            <button class="btn" type="submit">Edit</button>
        </div>
    </form>


</div>
@section Scripts{
    <script src="~/Areas/User/Content/script/editz.js"></script>
}
