@model List<Dtos.GroupContactDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="temp-alert alert alert-danger">@TempData["ErrorMessage"]</div>

}
@section linkCss{
    <link href="~/Areas/User/Content/css/data-group-contact.css" rel="stylesheet" type="text/css" />
}
<div class="danhsach mt-4">
    <h1>QUẢN LÝ CÁC NHÓM LIÊN LẠC</h1>
    <div class="text-end create-data d-flex justify-content-end flex-wrap align-items-center">
        <span class="btn btn-success me-3 my-3 delete-group disabled " disabled><a data-id="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-light fs-5" href="~/User/Contact/Create">Xóa</a></span>
    </div>
    <div class="data-groupContact d-flex flex-wrap">

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="form-check mx-4 my-2">
                    <input class="form-check-input check-input" type="checkbox" value="@item.GroupName" name="GroupNames" id="@item.GroupName">
                    <label class="form-check-label check-input" for="@item.GroupName">
                        @item.GroupName
                    </label>
                </div>
            }
        }
        @if (Model == null)
        {
            <h5>Không có dữ liệu</h5>
        }

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>bạn có chắc chắn muốn xóa các dữ liệu này không</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class=" btn btn-primary link-light" id="confirmdeletebtn">Chắc chắn</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Areas/User/Content/script/data-group-contact.js"></script>
}
